body{
    font-family: 'Poppins', sans-serif;
}

.navbar{
    margin-top: 30px;
    border-radius: 5px;
}

.carousel{
    background-color: white;
    margin-top: 20px;
}

.slide{
    border-radius: 10px;
}

.heading{
    margin-top: 20px;
}

.card{
    border: none;
    border-radius: 20px;
    box-shadow: 2px 2px 10px lightgray;
    text-align: center;
    margin-top: 20px;
    align-items: center;
    padding-top: 40px;
}

.card img{
    width: 80%;
}

.card-footer{
    padding-bottom: 40px;
    border-top: none;
    background-color: white;
}

.card-foot{
    border-top: none;
    background-color: white;
    padding-bottom: 40px;
}

.col{
    align-items: center;
    text-align: center;
}

.col img{
    width: 80%;
}

.hello{
    color: gold;
    background-color: gold;
    margin-left: 480px;
    margin-right: 480px;
    font-size: 2px;
    border: 2px solid gold;
    border-radius: 5px;
}

.last{
    padding-top: 100px;
    padding-bottom: 60px;
}

.border-3{
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 5px lightgray;
    align-items: center;
    text-align: center;
    width: 200px;
    height: 200px;
    padding-top: 30px;
}

.border-3 img{
    width: 80%;
}

.text{
    padding-top: 150px;
    align-items: center;
    text-align: center;
}

.box{
    border: 2px solid blue;
    background-color: blue;
    color: white;
    text-align: center;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 400px;
    margin-right: 400px;
    cursor: pointer;
}